[mysqld]
server-id = 2
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# Bind ke semua interface (karena di container)
bind-address = 0.0.0.0

# Replication settings
log_bin = /var/lib/mysql/mysql-bin.log
binlog_format = ROW
#read_only = 1  # Safety: slave mode

## === UBAH DI SINI ===
read_only = 0              # Diubah dari 1 ke 0 agar bisa menulis data
super_read_only = 0        # Tambahkan ini untuk mematikan read-only bagi user root
## ===================

# Performance tuning
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M
max_connections = 200

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci